htr_pipeline/reader/stored_model/model.onnx filter=lfs diff=lfs merge=lfs -text
htr_pipeline/word_detector/stored_model/model.onnx filter=lfs diff=lfs merge=lfs -text
data/words_alpha.txt filter=lfs diff=lfs merge=lfs -text
